.container {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.reset {
  display: flex;
  justify-content: center;
  margin: 50px;
}

button {
  border-radius: 15%;
  border: none;
  color: hsl(292, 42%, 14%);
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  margin-left: 15px;
}

html {
  background-color: hsl(292, 16%, 49%);
}

.human,
.computer,
.display {
  color: hsl(292, 42%, 14%);
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  margin-left: 15px;
}
